{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Administration</h1>

    {% block content %} {% endblock %}

{% endblock %}
