{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    <h3 class="my-3">Modifier une sortie</h3>

    {{ include('sortie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
