{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <h3 class="my-3">Créer une sortie</h3>

    {{ include('sortie/_form.html.twig') }}
{% endblock %}
