{% extends 'base-admin.html.twig' %}

{% block title %}Administration - Modification d'une ville{% endblock %}

{% block content %}
    <h3 class="text-uppercase text-secondary">Modification d'une ville</h3>

    {{ include('ville/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
