{% extends 'base.html.twig' %}

{% block title %}Modification d'une ville{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Modification d'une ville</h1>

    {{ include('ville/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
