
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger m-3 text-center">{{ message }}</div>

{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success m-3 text-center">{{ message }}</div>

{% endfor %}

