<footer class="bg-dark mt-auto footer text-center" style="color: rgb(255, 248, 233);">
    <hr class="text-center" style="width: 50%; margin:auto;">
    <div class="text-center p-3">
      © 2021 Copyright :
      <a style="color: rgb(255, 248, 233);" href="http://127.0.0.1:8000/"> Sortir.com</a>
       - Le site de gestion des sorties pour les élèves de l'ENI.
    </div>
</footer>
