<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{ include('layout/head.html.twig') }}
</head>
<body class="bg-soft bg-light">
<h1 class="text-primary">Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
</div>
</body>
</html>





