{% extends 'base-admin.html.twig' %}

{% block title %}Modification d'un lieu{% endblock %}

{% block body %}
    <h3 class="my-3">Modification d'un lieu</h3>

    {{ include('lieu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}

