{% extends 'base-admin.html.twig' %}

{% block title %}Administration - Modification d'un lieu{% endblock %}

{% block content %}
    <h3 class="text-uppercase text-secondary">Modification d'un lieu</h3>

    {{ include('lieu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}

