{% extends 'base-admin.html.twig' %}

{% block title %}Modification d'un lieu{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Modification d'un lieu</h1>

    {{ include('lieu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}

