{% extends 'base-admin.html.twig' %}

{% block title %}Administration - Nouveau lieu{% endblock %}

{% block content %}
    <h3 class="text-uppercase text-secondary">Création d'un nouveau lieu</h3>

    {{ include('lieu/_form.html.twig') }}

    <a href="{{ path('lieu_index') }}">Retour à la liste</a>
{% endblock %}
