{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Création d'un nouveau lieu</h1>

    {{ include('lieu/_form.html.twig') }}
{% endblock %}
