{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <div class="login-form">
        <form method="post">
            <div class='row'>
                <label class='offset-1 col-4 offset-sm-3 col-sm-3' for="inputPseudo">Identifiant :</label>
                <input class='col-6 col-sm-3' type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div class='row my-3'>
                <label class='offset-1 col-5 offset-sm-3 col-sm-3' for="inputPassword">Mot de passe :</label>
                <input class='col-5 col-sm-3' type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            </div>
            <div class='row'>
                <button class="offset-1 col-4 offset-sm-3 col-sm-3 btn-lg btn-warning" type="submit">Connexion</button>
                <div class='col-6 col-sm-3 text-center'>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi</input>
                    <br>
                    <a href="{{ path('app_forgot_password_request') }}" target="_blank" class=""> Mot de passe oublié</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
