body{
    background-color: rgb(255, 248, 233);
    font-family: "Gill Sans", sans-serif;
    overflow-x: hidden; 
}

h3{
    text-align: center;
    text-decoration: underline;
}

.footer{
    margin-top: 3%;
}

.flash-import-success{
    margin-top:3%;
}

.flash-imported{
    color:green;
}

.flash-not-imported{
    color:red;
}

.import-csv-form{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.login-form{
    margin-top: 15%;
}

.login-logo {
    margin-top:0.5%;
    margin-left:1%;
    text-align: left;
}

.user-info{
    font-weight: bold;
    text-align: right;
    margin-right:1%;
}

// Media queries

@media (max-width: 500px) {
    .desktop-view,.user-info,.drop-admin,.desktop-profil-picture{
        display: none;
    }

    .login-form{
        margin-top: 60%;
    }
}

@media (min-width: 500px) {
    .mobile-view{
        display: none;
    }
}